:root {
  // Colors
  --primary: #00A3FF;
  --primary-light: #4dbeff;
  --secondary: #000000;
  --clr-background: #FFFFFF;
  --clr-border: #D7D7D7;
  --clr-filter: #0F0F0F8C;
  // Dark theme
  --dark-secondary: #ffffff;
  --clr-dark-background: #3b3b3b;

  // Fonts
  --title: 'Share Tech Mono', monospace;
  --text: 'Saira Semi Condensed', sans-serif;

  // Max width
  --max-width: 1500px;
}